ReadJSessionID/SOA/Schemas/StatefulServiceClassPort_xsd_1.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:ns0="http://soap.stateful.pradipta.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     targetNamespace="http://soap.stateful.pradipta.com/">
    <xsd:complexType name="HelloWorldResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HelloWorld">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="HelloWorldResponse" type="ns0:HelloWorldResponse"/>
    <xsd:element name="HelloWorld" type="ns0:HelloWorld"/>
</xsd:schema>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
